body {
  margin-top: 25px;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #4a4e69 !important;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

h2 {
  margin-top: 10px;
}

h5 {
  margin-bottom: 25px;
}

.img-responsive {
  margin-bottom: 10px;
}

.profile-pic {
  box-shadow: 0px 4px 6px 2px lightgrey;
  border-radius: 50%;
}

.m-t-1 {
  margin-top: 1em;
}

.p-t-1 {
  padding-top: 1em;
}

.row-grey {
  background-color: lightgrey;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  padding: 65px 10px;
}

.row-white {
  padding: 65px 10px;
}

.row-tools {
  padding: 50px 0;
}

.tool-logo {
  height: 120px;
  padding: 15px 25px 0 25px;
}

.btn-launch {
  width: 100%;
  max-width: 200px;
  background-color: #549657;
  color: white;
  box-shadow: 0px 2px 5px 1px darkgrey;
}

.btn-launch:hover,
.btn-launch:focus {
  color: white;
  background: #3d7140;
}

.col-sm-4 .btn-launch {
  margin-top: 25px;
  max-width: 150px;
}

.copyright {
  opacity: 0.4;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}
